@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');
body{
    padding: 0;
}
.container{
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
    max-height: 100vh;
    margin: 2vh auto 0 auto;
    font-family: 'Roboto',sans-serif;
    box-shadow: 0px 0px 43px 10px rgba(153,153,153, 1)
}
#display{
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 30px;
    font-weight: 600;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.btn{
    margin:0.5rem 0.5rem;
    padding: 2rem 0rem;
    font-size: larger;
    font-weight: 500;
    border: 0.5px solid rgb(88, 88, 88);
    border-radius: 50%;
    color: black;
}
.btn:hover{
    background-color: #313130;
    color: whitesmoke;
    transition: 0.5s ease-in-out;
}
#equal{
    background-color: rgb(236, 85, 160);
}
@media (max-width: 480px){
    .container{
        margin: 0;
        max-width: 100vw;
        max-height: 100vh;
    }
}